<?xml version="1.0"?>
<launch>
	<arg name="model" 						default="$(find car_description)/src/car.urdf.xacro" />

    <!-- Robot description for static tf -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />


</launch>

