<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bud">
    <xacro:include filename="$(find car_description)/urdf/materials.urdf.xacro" />
    <xacro:include filename="$(find car_description)/urdf/base/chassis.urdf.xacro" />
    <xacro:include filename="$(find car_description)/urdf/sensors/lidar.urdf.xacro" />
    <xacro:include filename="$(find car_description)/urdf/sensors/imu.urdf.xacro" />
    <xacro:include filename="$(find car_description)/urdf/sensors/gps.urdf.xacro" />
     <!--Vehicle mesures-->
    <xacro:property name="length" value="2.00"/>
    <xacro:property name="width" value="1.00"/>
    <xacro:property name="height" value="1"/>
    <xacro:property name="height_from_ground" value="0.01"/>
    <!--Lidar mesures mesures-->
    <xacro:property name="lidar_height" value="0.15"/>
    <xacro:property name="lidar_radius" value="0.05"/>

    <xacro:property name="lidar_height_from_ground" value="0.0"/>   <!-- retrieve true data from CAD-->
    <xacro:property name="imu_height_from_ground" value="0.0"/> <!-- retrieve true data from CAD-->
    <xacro:property name="gps_height_from_ground" value="0.80"/> <!-- retrieve true data from CAD-->

    <!-- imu -->
    <xacro:car_imu name="imu" >
        <origin xyz="-1.25 0.0 ${imu_height_from_ground}" 
                rpy="0.0 0.0 0.0"/>
    </xacro:car_imu> 
    <!-- base -->
    <xacro:car_chassie name="chassis" parent="vehicle">
        <origin xyz="0 0 ${lidar_height_from_ground}"/> 
    </xacro:car_chassie>
    <!-- lidar -->
    <xacro:car_lidar name="lidar" parent="chassis_link">
        <origin xyz="0 0 ${lidar_height_from_ground}"
        	rpy="0 0 0" />
    </xacro:car_lidar>
    <!-- gps -->
    <xacro:car_gps name="gps" parent="chassis_link">
        <origin xyz="-1.65 0.55 ${gps_height_from_ground}" />
    </xacro:car_gps>
    <!-- imu -->
    <!-- <xacro:car_imu name="imu" parent="chassis_link">
        <origin xyz="1.62 0 ${lidar_height_from_ground}"/> 
    </xacro:car_imu> -->
</robot>
<!-- TODO: Add rear and front axes and change their reference in the code-->
